/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░ The Metropolitan Museum of Art ░░░░░░░░░
░░▒▓▓▓▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░▒▓░▒▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░▒▓░▒▓░░▒▓▒▓▓░░░░▒▓░░▒▓░░░░░░▒▓░░░▒▓▓▒░░░▒▓▒▓▓░░░░
░░▒▓▓▓▓░░▒▓░░▒▓░░░▒▓░░▒▓▒▓░░▒▓▒▓░▒▓▒░░▒▓░░▒▓░░▒▓░░░
░░▒▓░░░░░▒▓▓▓▓░░░░▒▓░░▒▓░▒▓▒▓░▒▓░▒▓▓▓▓▓▓░░▒▓▓▓▓░░░░
░░▒▓░░░░░▒▓░░▒▓░░░▒▓░░▒▓░░▒▓░░▒▓░▒▓░░░░░░░▒▓░░▒▓░░░
░░▒▓░░░░░▒▓░░░▒▓░░▒▓░░▒▓░░▒▓░░▒▓░░▒▓▓▓▓▒░░▒▓░░░▒▓░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░ 𝓘𝓷𝓯𝓾𝓼𝓲𝓸𝓷𝓼 ™ ░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */

/* Primer Infusions — FLATMODE */
/* This infusion turns of tints and shades for Primers with flat graphics */
/* v1 */

/* hero card */
.introduction-card__poster::before {
	background: none;
}

/* interstitial */
.interstitial__video, .interstitial__image {
	filter: brightness(1.0);
}
.interstitial__video::before, .interstitial__image::before {
	background: none;
}

/* Info+CTA */
.information-card--cta::before {
	background: none;
}

