/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░ The Metropolitan Museum of Art ░░░░░░░░░░░░
░░▒▓▓▓▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░▒▓░▒▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░▒▓░▒▓░░▒▓▒▓▓░░░░▒▓░░▒▓░░░░░░▒▓░░░▒▓▓▒░░░▒▓▒▓▓░░░░░░░░
░░▒▓▓▓▓░░▒▓░░▒▓░░░▒▓░░▒▓▒▓░░▒▓▒▓░▒▓▒░░▒▓░░▒▓░░▒▓░░░░░░░
░░▒▓░░░░░▒▓▓▓▓░░░░▒▓░░▒▓░▒▓▒▓░▒▓░▒▓▓▓▓▓▓░░▒▓▓▓▓░░░░░░░░
░░▒▓░░░░░▒▓░░▒▓░░░▒▓░░▒▓░░▒▓░░▒▓░▒▓░░░░░░░▒▓░░▒▓░░░░░░░
░░▒▓░░░░░▒▓░░░▒▓░░▒▓░░▒▓░░▒▓░░▒▓░░▒▓▓▓▓▒░░▒▓░░░▒▓░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░ 𝓘𝓷𝓯𝓾𝓼𝓲𝓸𝓷𝓼 ™ ░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */

/* Primer Infusions — GIANT INTERSTITIALS */
/* This makes interstitials SUPER TALL!!! */
/* v1 */

/* interstitials */

.interstitial-card {
    height: 60vh;
}

@media screen and (min-width: 721px) {
	.interstitial-card {
	    height: 90vh;
	}
}

@media screen and (min-width: 1440px) {
	.interstitial-card {
	    max-height: 90vh;
	}
}

