/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░ The Metropolitan Museum of Art ░░░░░░░░░
░░▒▓▓▓▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░▒▓░▒▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░▒▓░▒▓░░▒▓▒▓▓░░░░▒▓░░▒▓░░░░░░▒▓░░░▒▓▓▒░░░▒▓▒▓▓░░░░
░░▒▓▓▓▓░░▒▓░░▒▓░░░▒▓░░▒▓▒▓░░▒▓▒▓░▒▓▒░░▒▓░░▒▓░░▒▓░░░
░░▒▓░░░░░▒▓▓▓▓░░░░▒▓░░▒▓░▒▓▒▓░▒▓░▒▓▓▓▓▓▓░░▒▓▓▓▓░░░░
░░▒▓░░░░░▒▓░░▒▓░░░▒▓░░▒▓░░▒▓░░▒▓░▒▓░░░░░░░▒▓░░▒▓░░░
░░▒▓░░░░░▒▓░░░▒▓░░▒▓░░▒▓░░▒▓░░▒▓░░▒▓▓▓▓▒░░▒▓░░░▒▓░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░ 𝓘𝓷𝓯𝓾𝓼𝓲𝓸𝓷𝓼 ™ ░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ 

Primer Infusions — MEDIEVAL, v1
-This infusion adds medieval storybook-inspired flavors

*/

/* Manuscript-style red border for the intro */

.introduction-card__media {
	box-sizing: border-box;
	border: #A45645 solid 1rem;
}

/* Blockquotes with dropcaps */

blockquote:first-child:first-letter {
	font-size: calc(60px + 3vw);
	float: left;
    line-height: 0.8;
    padding-top: 0.8rem;
    padding-right: .5rem;
    padding-left: .25rem;
}