/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░ The Metropolitan Museum of Art ░░░░░░░░░
░░▒▓▓▓▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░▒▓░▒▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░▒▓░▒▓░░▒▓▒▓▓░░░░▒▓░░▒▓░░░░░░▒▓░░░▒▓▓▒░░░▒▓▒▓▓░░░░
░░▒▓▓▓▓░░▒▓░░▒▓░░░▒▓░░▒▓▒▓░░▒▓▒▓░▒▓▒░░▒▓░░▒▓░░▒▓░░░
░░▒▓░░░░░▒▓▓▓▓░░░░▒▓░░▒▓░▒▓▒▓░▒▓░▒▓▓▓▓▓▓░░▒▓▓▓▓░░░░
░░▒▓░░░░░▒▓░░▒▓░░░▒▓░░▒▓░░▒▓░░▒▓░▒▓░░░░░░░▒▓░░▒▓░░░
░░▒▓░░░░░▒▓░░░▒▓░░▒▓░░▒▓░░▒▓░░▒▓░░▒▓▓▓▓▒░░▒▓░░░▒▓░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░ 𝓘𝓷𝓯𝓾𝓼𝓲𝓸𝓷𝓼 ™ ░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ 

Primer Infusions — LISTICLE MODE, v1
-This turns descriptor fields into stylized number list headings
 
WARNINGS: Use only single character glyphs when using this Infusion, i.e. (1, 2, etc)

*/

/* descriptors */

.section__descriptor, .gallery-container__descriptor {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: calc(22px + 1.8vw);
    width: 1.8em;
    height: 1.8em;
    border: .12em solid;
    border-radius: 2em;
    opacity: 1;
}

.section__descriptor:empty, .gallery-container__descriptor:empty {
	border: none;
}
